%h1 Autorenliste

%table
  %thead
    %tr
      %th Nachname
      %th Vorname
      %th Zugehörigkeit
      %th
      %th
      %th

  %tbody
    - @authors.each do |author|
      %tr
        %td= author.family_name
        %td= author.given_name
        %td= author.affiliation
        %td= link_to 'Details', author
        %td= link_to 'Ändern', edit_author_path(author)
        %td= link_to 'Löschen', author, method: :delete, data: { confirm: 'Sind Sie sicher?' }

%br

= link_to 'Neuer Autor', new_author_path
