%p#notice= notice

%p
  %b Nachname:
  = @author.family_name
%p
  %b Vorname:
  = @author.given_name
%p
  %b Zugehörigkeit:
  = @author.affiliation
%p
  %b Bücher:
  = @author.books.map(&:title).join(', ')

= link_to 'Ändern', edit_author_path(@author)
\|
= link_to 'Zurück', authors_path
