= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :Nachname
    = f.text_field :family_name
  .field
    = f.label :Vorname
    = f.text_field :given_name
  .field
    = f.label :Adresse
    = f.text_area :adress
  .field
    = f.label :E-Mail
    = f.text_field :email
  .field
    = f.label :Passwort
    = f.text_field :password
  .field
    = f.label :blockiert
    = f.check_box :blocked
  .field
    = f.label :Bemerkungen
    = f.text_area :remarks
  .actions
    = f.submit 'Speichern'
