= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} verbietet diesen Nutzer zu speichern:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :family_name, "Nachname"
    = f.text_field :family_name
  .field
    = f.label :given_name, "Vorname"
    = f.text_field :given_name
  .field
    = f.label :adress, "Adresse"
    = f.text_area :adress
  .field
    = f.label :email, "Email"
    = f.text_field :email
  .field
    = f.label :blocked, "blockiert"
    = f.check_box :blocked
  .field
    = f.label :remarks, "Bemerkungen"
    = f.text_area :remarks
  .actions
    = f.submit 'Speichern'
