%p#notice= notice

%p
  %b Nachname:
  = @user.family_name
%p
  %b Vorname:
  = @user.given_name
%p
  %b Adresse:
  = @user.adress
%p
  %b Email:
  = @user.email
%p
  %b Blockiert:
  = @user.blocked
%p
  %b Bemerkungen:
  = @user.remarks

= link_to 'Ändern', edit_user_path(@user)
\|
= link_to 'Zurück', users_path
