= form_for @book_instance do |f|
  - if @book_instance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book_instance.errors.count, "error")} verbietet diese Buchinstanz zu speichern:"
      %ul
        - @book_instance.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :book_id, "Buch"
    = f.select :book_id, Book.all.collect { |book| [book.title, book.id] }
  .field
    = f.label :shelfmark, "Regalzeichen"
    = f.text_field :shelfmark
  .field
    = f.label :purchased_at, "Gekauft_am"
    = f.date_select :purchased_at
  .actions
    = f.submit 'Speichern'
