= form_for @book_instance do |f|
  - if @book_instance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book_instance.errors.count, "error")} prohibited this book_instance from being saved:"
      %ul
        - @book_instance.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :book_id, "Buch"
    = f.text_field :book_id, disabled: true
  .field
    = f.label :shelfmark, "Regalzeichen"
    = f.text_field :shelfmark, disabled: true
  .field
    = f.label :lended_by_id, "Ausgeliehen_von"
    = f.select :lended_by_id, User.all.collect { |user| [user.short_name, user.id] }, include_blank: true
  .field
    = f.label  :reserved_by_id, "Reserviert_von"
    = f.select :reserved_by_id, User.all.collect { |user| [user.short_name, user.id] }, include_blank: true
  .field
    = f.label :checkout_at, "Ausgecheckt am"
    = f.datetime_select :checkout_at, include_blank: true
  .field
    = f.label :due_at, "Fällig am"
    = f.date_select :due_at, include_blank: true
  .field
    = f.label :returned_at, "Zurückgegeben am"
    = f.datetime_select :returned_at, include_blank: true
  .actions
    = f.submit 'Speichern'
