= form_for @book_instance do |f|
  - if @book_instance.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book_instance.errors.count, "error")} prohibited this book_instance from being saved:"
      %ul
        - @book_instance.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :Bücher_ID
    = f.text_field :book_id
  .field
    = f.label :Regalzeichen
    = f.text_field :shelfmark
  -#.field
    -#= f.label :purchased_at
    -#= f.date_select :purchased_at
  .field
    = f.label :Ausgeliehen_von_ID
    = f.text_field :lended_by_id
  .field
    = f.label :Reserviert_von_ID
    = f.text_field :reserved_by_id
  -#.field
    -#= f.label :checkout_at
    -#= f.datetime_select :checkout_at
  -#.field
    -#= f.label :due_at
    -#= f.date_select :due_at
  -#.field
    -#= f.label :returned_at
    -#= f.datetime_select :returned_at
  .actions
    = f.submit 'Speichern'
