%h1 Liste aller Buchinstanzen

%table
  %thead
    %tr
      %th Buch
      %th Regalzeichen
      %th Gekauft bei
      %th Ausgeliehen von
      %th Reserviert von
      %th Ausgecheckt am
      %th Fällig am
      %th Zurückgegeben am
      %th
      %th
      %th

  %tbody
    - @book_instances.each do |book_instance|
      %tr
        %td= book_instance.book.title
        %td= book_instance.shelfmark
        %td= book_instance.purchased_at
        %td= book_instance.lended_by
        %td= book_instance.reserved_by
        %td= book_instance.checkout_at
        %td= book_instance.due_at
        %td= book_instance.returned_at
        %td= link_to 'Show', book_instance
        %td= link_to 'Edit', edit_book_instance_path(book_instance)
        %td= link_to 'Destroy', book_instance, method: :delete, data: { confirm: 'Sind Sie sicher?' }

%br

= link_to 'Neue Buchinstanz', new_book_instance_path
