%p#notice= notice

%p
  %b Buch:
  = @book_instance.book.title
%p
  %b Regalzeichen:
  = @book_instance.shelfmark
%p
  %b Gekauft bei:
  = @book_instance.purchased_at
%p
  %b Ausgeliehen von:
  - if @book_instance.lended_by
    = @book_instance.lended_by.id
%p
  %b Reserviert von:
  - if @book_instance.reserved_by
    = @book_instance.reserved_by.id
%p
  %b Ausgecheckt am:
  = @book_instance.checkout_at
%p
  %b Fällig am:
  = @book_instance.due_at
%p
  %b Zurückgegeben am:
  = @book_instance.returned_at

= link_to 'Ändern', edit_book_instance_path(@book_instance)
\|
= link_to 'Zurück', book_instances_path
