!!!
%html
  %head
  %body
    %h1 Bücherliste

    %table
      %thead
        %tr
          %th Titel
          %th Verlag
          %th Erscheinungsjahr
          %th Ausgabe
          %th ISBN
          %th # Aut.
          %th # Exemplare
          %th
          %th
          %th

      %tbody
        - @books.each do |book|
          %tr
            %td= book.title
            %td= book.publisher
            %td= book.pub_year
            %td= book.edition
            %td= book.isbn
            %td= book.authors.count
            %td= book.book_instances.count
            %td= link_to 'Details', book
            %td= link_to 'Ändern', edit_book_path(book)
            %td= link_to 'Löschen', book, method: :delete, data: { confirm: 'Sind Sie sicher?' }

    %br

= link_to 'Neues Buch anlegen', new_book_path
