%p#notice= notice

%p
  %b Titel:
  = @book.title
%p
  %b Verlag:
  = @book.publisher
%p
  %b Erscheinungsjahr:
  = @book.pub_year
%p
  %b Ausgabe:
  = @book.edition
%p
  %b ISBN:
  = @book.isbn
%p
  %b Aut.:
  = @book.authors.map{ |a| a.given_name + " " + a.family_name }.join(", ")

%p
  %b ID:
  = @book.id

= link_to 'Ändern', edit_book_path(@book)
\|
= link_to 'Zurück', books_path
