!!!
%html
  %head
    %title Wba2
    %meta{ name:"viewport", content:"width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    #sidebar 
      %dl
        %dt Autor:innen
        %dd 
          = link_to 'alle', authors_path
        %dd
          = link_to 'ohne Buch', authors_path(filter: 'no_books')
          
        %dt Bücher
        %dd
          = link_to 'alle', books_path
        %dd
          = link_to 'ohne Autoren', books_path(filter: 'no_authors')
        %dd
          = link_to 'ohne Buchbestand', books_path(filter: 'no_book_instances')

        %dt Buchexemplare
        %dd
          = link_to 'Gesamtbestand', book_instances_path
        %dd
          = link_to 'ausleihbare', book_instances_path(filter: 'lendable')
        %dd
          = link_to 'vorgemerkte', book_instances_path(filter: 'reserved')
        %dd
          = link_to 'ausgeliehene', book_instances_path(filter: 'lended')
        %dd
          = link_to 'überfällige', book_instances_path(filter: 'due')

        %dt Benutzer:innen
        %dd
          = link_to 'alle', users_path
        %dd
          = link_to 'mit Vormerkungen', users_path(filter: 'has_reserved')
        %dd
          = link_to 'mit Ausleihen', users_path(filter: 'has_lended')
        %dd
          = link_to 'mit überfälligen Büchern', users_path(filter: 'has_due')
    
    #main
      = yield
