!!!
%html
  %head
    %title Wba2
    %meta{ name:"viewport", content:"width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    #sidebar 
      %dl
        %dt Autor:innen
        %dd 
          = link_to 'alle', authors_path
        %dd
          = link_to 'ohne Buch', authors_path(filter: 'no_book')
          
        %dt Bücher
        %dd
          = link_to 'alle', books_path
        %dd
          = link_to 'ohne Autoren', books_path(filter: 'no author')
        %dd
          = link_to 'ohne Buchbestand', books_path(filter: 'no book_instances') #todo: filtername

        %dt Buchexemplare
        %dd
          = link_to 'Gesamtbestand', book_instances_path
        %dd
          = link_to 'ausleihbare', book_instances_path(filter: 'borrowable') #todo: filtername
        %dd
          = link_to 'vorgemerkte', book_instances_path(filter: 'earmarked') #todo: filtername
        %dd
          = link_to 'ausgeliehene', book_instances_path(filter: 'borrowed') #todo: filtername
        %dd
          = link_to 'überfällige', book_instances_path(filter: 'overdue') #todo: filtername

        %dt Benutzer:innen
        %dd
          = link_to 'alle', users_path
        %dd
          = link_to 'mit Vormerkungen', users_path(filter: 'with reservation') #todo: filtername
        %dd
          = link_to 'mit Ausleihen', users_path(filter: 'with borrowing') #todo: filtername
        %dd
          = link_to 'mit überfälligen Büchern', users_path(filter: 'with overdue books') #todo: filtername
    
    #main
      = yield
